@page "/"

@if (_state is null || _state.Lobby is null)
{
    <p>Connecting to a server...</p>
}
else
{
    <ErrorView ErrorMessage="@_errMessage" />

    <pre>@_state.Game.LocalPlayerState.ToString()</pre>

    @if (_state.Game.LocalPlayerState != PlayerState.NotInLobby)
    {
        <p>Your ID: @_state.Game.LocalPlayerId</p>
    }

    @if (_state.Game.LocalPlayerState == PlayerState.NotInLobby)
    {
        <LobbyView LobbyModel="@_state.Lobby" />

        <input type="text" @bind-value="_usernameInput" />
        <button @onclick="async () => await JoinGameAsync()">Join Lobby</button>
    }
    else
    {
        <PlayersView GameState="@_state" />
    }

    @if (_state.Game.LocalPlayerState == PlayerState.InLobby)
    {
        <button @onclick="async () => await StartGameAsync()">Start Game</button>
    }

    @if (_state.Game.LocalPlayerState == PlayerState.Playing || _state.Game.LocalPlayerState == PlayerState.Judging || _state.Game.LocalPlayerState == PlayerState.PlayedCard)
    {
        <div class="card card-template">
            <span>@_state.Game.Template.Text</span>
        </div>
    }

    @if (_state.Game.LocalPlayerIsJudge)
    {
        <p>You are the card Judge. Wait for other players to play their cards.</p>
    }
    else
    {
        @if (_state.Game.LocalPlayerState == PlayerState.Playing)
        {
            <CardDrawer GameState="@_state" HubConnection="@_hubConnection" />
        }

        @if (_state.Game.LocalPlayerState == PlayerState.PlayedCard)
        {
            <p>Please wait for others to play their cards...</p>
        }
    }

    @if (_state.Game.LocalPlayerState == PlayerState.Judging)
    {

        <ResponseView GameState="@_state" HubConnection="@_hubConnection" />
    }
}

<pre>
    Status: @_statusMessage
</pre>
