@page "/"

@if (_state is null || _state.Lobby is null)
{
    <p>Connecting to a server...</p>
}
else
{
    <ErrorView ErrorMessage="@_errMessage" />

    @if (_state.Game.LocalPlayerState != PlayerState.NotInLobby)
    {
        <p>Your ID: @_state.Game.LocalPlayerId</p>
    }

    @if (_state.Game.LocalPlayerState == PlayerState.NotInLobby)
    {
        <LobbyView LobbyModel="@_state.Lobby" />

        <input type="text" @bind-value="_usernameInput" />
        <button @onclick="async () => await JoinGameAsync()">Join Lobby</button>
    }
    else
    {
        <PlayersView Players="@_state.Game.Players" LocalPlayerId="@_state.Game.LocalPlayerId" />
    }

    @if (_state.Game.LocalPlayerState == PlayerState.InLobby)
    {
        <button @onclick="async () => await StartGameAsync()">Start Game</button>
    }

    @if (_state.Game.LocalPlayerState == PlayerState.Playing)
    {
        <div class="card card-template">
            <span>@_state.Game.Template.Text</span>
        </div>

        <div class="card-drawer">
            @foreach (var card in _state.Game.Cards ?? new CardModel[0])
            {
                <div class="card card-hand">
                    <span>@card.Text</span>
                </div>
            }
        </div>
    }
}

<pre>
    Status: @_statusMessage
</pre>
