@page "/"

@if (_gameState is null || _gameState.LobbyModel is null)
{
    <p>Connecting to a server...</p>
}
else
{
    @if (_gameState.LocalPlayerState != PlayerState.NotInLobby)
    {
        <p>Your ID: @_gameState.LocalPlayerId</p>
    }

    @if (_gameState.LocalPlayerState == PlayerState.NotInLobby)
    {
        <h2>Current Lobby</h2>

        <p>There are @_gameState.LobbyModel.PlayerCount out of @_gameState.LobbyModel.MaximumPlayers player(s) in this lobby.</p>

        <input type="text" @bind-value="_usernameInput" />
        <button @onclick="async () => await JoinGameAsync()">Join Lobby</button>
}
    else
    {
        <PlayersView Players="@_gameState.Players" />
    }

    @if (_gameState.LocalPlayerState == PlayerState.InLobby)
    {
        <button @onclick="async () => await StartGameAsync()">Start Game</button>
    }
}

<p>
    Status: @_statusMessage
</p>

@if (_gameState?.LocalPlayerState == PlayerState.Playing)
{
    <div class="card card-template">
        <span>@_gameState.TemplateCard</span>
    </div>

    <div class="card-drawer">
        @foreach (var card in _gameState.Cards ?? new CardModel[0])
        {
            <div class="card card-hand">
                <span>@card.Text</span>
            </div>
        }
    </div>
}
